html, body {
	position: relative;
	width: 100%;
	height: 100%;
}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.hr {
    margin-bottom: 1rem;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.container, main {
    max-width: 960px;
    margin: auto;
}

nav {
    margin-top: 1em;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color: #40bbaf;
    font-weight: bold;
    border: 1px solid rgb(0, 116, 77);
    padding: 0.5em;
    border-radius: 8px 8px;
    font-size: 0.8em;
}

nav a:hover {
    color: #ffffff;
    background-color: rgb(29, 216, 138);
    border: 1px solid white;
}

.logout-red:hover {
    color: red;
    background-color: darkred;
    border: 1px solid red;
}

.user-tag-list {
    height: 100px;
    overflow-y: hidden;
}