
.btn {
    padding: .375rem .75rem;
    height: 30px;
    border-radius: .25rem;
    background-color: dodgerblue;
    border: 1px solid blue;
    color: white;
    box-shadow: 0 3px rgb(37, 37, 37);
    font-weight: bold;
}

.btn:active {
    background-color: rgb(14, 14, 214);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.btn:hover {
    background-color:rgb(28, 124, 219);
}

.btn.small {
    font-size: 12px;
    height: 10px;
    padding: .2em 0.5em 1.3em 0.5em;
}

.btn.large {
    font-size: 24px;
    padding: .1em 1em 1.4em 1em;
}

.btn.fullWidth {
    width: 100%;
}

.btn.danger {
    background-color: rgb(219, 26, 26);
    border: 1px solid rgb(255, 0, 0);
}

.btn.danger:active {
    background-color: rgb(214, 14, 14);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.btn.danger:hover {
    background-color:rgb(255, 34, 34);
}

.btn.success {
    background-color: rgb(28, 224, 21);
    border: 1px solid rgb(9, 255, 0);
}

.btn.success:active {
    background-color: rgb(31, 214, 14);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.btn.success:hover {
    background-color:rgb(11, 241, 42);
}

.btn.info {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(255, 255, 255);
    color: black;
}

.btn.info:active {
    background-color: rgb(207, 207, 207);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.btn.info:hover {
    background-color:rgb(221, 221, 221);
}