

.tag {
    background: #e8ecef;
    color: #4d5c6c;
    padding: .5em;
    display: inline-block;
    border-radius: .3em;
    font-weight: bold;
    font-size: 75%;
    font-weight: 700;
    margin: 0.2em;
    cursor: pointer;
}

.tag:hover, .highlight {
    background: #2a2c2d;
    color: #FFFFFF;
}

.close {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.close:hover {
    color: red;
}